name: Deploy App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install dependencies
        working-directory: ./moeda-estudantil-app
        run: npm ci

      - name: Configure git identity
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "Github Actions"

      - name: Build & Deploy
        working-directory: ./moeda-estudantil-app
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run deploy
